/*---------------------------------------------*/
/* moja czcionka */
/*---------------------------------------------*/
/*font-family: 'Open Sans', sans; */


.container {
    width: 920px;
    margin: 0 auto;
}


/*---------------------------------------------*/
/* sekcja header */
/*---------------------------------------------*/
#build .row {
    height: 415px;
}

#build .col {
    width: 50%;
    float: left;
}

.first-build {
    margin-top: 75px;
}

#build .main-text-gallery {
    margin-top: 175px;
    margin-bottom: 175px;
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 20px;
}

.main-text-gallery img {
    width: 400px;
}

#build .main-article-gallery {
    margin-top: 110px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000
}
#build .desc-build {
    margin-top: 26px;
    margin-bottom: 125px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000
}
.picture-build {
    display:flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.black-section {
    background-color: #000000;
    color: #ffff;
}

.white-text {
    color: #b7b7b7 !important;
}

.text-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -20px;
}

@media (max-width: 320px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 321px) and (max-width: 1024px) {
    /* ogólne do html */
    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    body {
        min-width: 321px;
    }
    /* ogólne do html */

    /* nawigacja */
    .nav-main {
        display: none; 
    }
    .logo-main a {
        position: fixed;
    }
    #header, .fixed-header {
        height: 120px;
        line-height: 105px;
    }
    /* nawigacja */


    #build .row {
        height: 697px !important;
    }

    .toReverse {
        display: flex;
        flex-direction: column-reverse;
        height: 570px !important;
    }

    .row .text-gallery .main-article-gallery  {
        font-size: 32px !important;
    }
    .row .text-gallery .desc-build {
        font-size: 25px !important;
        line-height: 33px !important;
    }

    .first-build {
        margin-top: 123px !important;
    }

    .main-article-gallery {
        font-size: 32px;
        line-height: 32px;
    }

    #build .main-text-gallery {
        margin-top: 0 !important;
    }

    .picture-build {
        height: 315px !important;
    }

    .main-text-gallery img {
        width: 550px !important;
    }
}